@media screen and (min-width: 992px) {

    .site-header,
    .search,
    #accommodation,
    .activity,
    .lodging,
    .popular {
        margin-left: 1%;
        margin-right: 1%;
    }

    /* HEADER */

    .site-header {
        margin: 3%;
    }

    .menu,
    .site-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .menu li a {
        margin-left: 15px;
        padding-top: 53px;
    }

    .menu li a:hover {
        color: #0065FC;
        border-top: 2px solid #0065FC;
    }

    #logo {
        flex-basis: 80%;
    }

    .registration {
        margin-left: 20px;
    }

    /* SECTION 1 CHAMPS DE RECHERCHE*/

    .search {
        margin: 3%;
    }

    /* Formulaire */
    .form-search {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: baseline;
        margin-top: 20px;
    }

    .form-search form {
        display: flex;
    }

    .map {
        width: 25px;
        padding: 17px;
        margin-right: -7px;
        display: flex;
        justify-content: center;
    }

    input[type="text"] {
        height: 44px;
    }

    .icon-button {
        display: none;
    }

    .text-button {
        background-color: #0065FC;
        border-radius: 0px 10px 10px 0px;
        border: none;
        width: 17%;
        color: white;
        font-weight: bold;
        cursor: pointer;
        font-size: 1.2rem;
        height: 50px;
    }

    .search p i {
        margin-right: 15px;
    }

    .search p {
        margin-top: 20px;
    }

    /* Filtres */
    .filtre {
        height: 40px;
        display: flex;
        flex-direction: row;
        margin-left: 14px;
    }

    .filters {
        display: flex;
        align-items: baseline;
        padding-top: 50px;
    }

    .contain-filter {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .inside-filter {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .icon-filter {
        width: 40px;
        height: 40px;
        min-height: 40px;
        min-width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .text-filter {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: max-content;
        margin-left: 10px;
        margin-right: 10px;
    }

    .result {
        display: flex;
        align-items: center;
    }

    .icon-result {
        width: 30px;
        height: 30px;
        min-width: 30px;
        max-height: 30px;
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* SECTION 2 LOGEMENTS */

    #accommodation {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    /* Hebergement */
    .lodging {
        align-content: center;
        flex-wrap: wrap;
        width: 60%;
        background-color: #F2F2F2;
        padding: 1%;
        border-radius: 18px;
    }

    .box-cards {
        flex-wrap: wrap;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }

    .cards {
        display: flex;
    }

    .grid {
        height: 227px;
        min-width: 246px;
        max-width: 26%;
        flex-direction: column;
        margin: 10px;
    }

    .cards img {
        height: 115px;
        width: 100%;
    }

    .grid-img {
        margin: auto;
        border-radius: 25px;
        border: 5px solid white;
    }

    .more {
        margin-top: 3%;
    }

    /* Aside */
    .popular {
        display: flex;
        flex-direction: column;
        width: 30%;
        background-color: #F2F2F2;
        border-radius: 25px;
        padding: 1%;
    }

    .popular-title {
        display: flex;
        justify-content: space-around;
        align-items: baseline;
    }

    .box-aside {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 10%;
        height: 80%;
    }

    .popular-title {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    .contain-aside {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 1rem;
    }

    .contain-aside .stars {
        margin-bottom: 1rem;
    }

    .popular-img {
        height: auto;
        max-width: 30%;
        min-width: 42%;
        border: 5px solid white;
        border-radius: 25px 0px 0px 25px;
    }

    .aside img {
        height: 100%;
        width: 100%;
        border-radius: 25px 0px 0px 25px;
    }

    /* SECTION 3 activites */

    #activity {
        margin-top: 2%;
    }

    .title-activity {
        margin-left: 3%;
    }

    .contain-activity {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        max-height: 1200px;
    }

    .cards-activity {
        display: flex;
        flex-direction: column;
        width: 24%;
    }

    .activity-img {
        width: auto;
    }

    .img-big {
        height: 455px;
        width: 100%;
    }

    .img-small {
        height: 173px;
        width: 100%;
    }

    .small {
        height: 100%;
    }

    .text-activity {
        padding-left: 20px;
    }

    /* FOOTER */

    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    footer ul {
        padding-left: 0px;
    }
}