@media screen and (min-width: 768px) and (max-width: 991px) {
   
    /* HEADER */

    .site-header {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        margin: 3%;
    }

    #logo {
        margin: 5%;
        width: 49px;
    }

    #logo img {
        width: 100px;
        height: 45px;
    }

    .set-order {
        width: 100%;
        height: 100%;
        margin-left: 0px;
    }

    .set-order:nth-of-type(1) {
        order: 1;
    }

    .set-order:nth-of-type(2) {
        order: 3;
    }

    .set-order:nth-of-type(3) {
        order: 2;
    }

    .entete nav {
        width: auto;
    }

    .menu-link {
        margin: 8% 0% 0% 35%;
    }

    .menu li {
        width: 49%;
        padding-bottom: 10px;
        padding-left: 30px;
        display: inline-flex;
        padding: 0;
        height: 45px;
    }

    .menu {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-bottom: 20px;
        padding-left: 0px;
        height: 45px;
        border-bottom: 5px solid #F2F2F2;
    }

    .menu li:hover {
        padding-bottom: 20px;
        border-bottom: 5px solid #0065FC;
    }

    .menu li a:hover {
        color: #0065FC;
    }

    .registration {
        width: 49%;
        padding-right: 32px;
        display: flex;
        justify-content: flex-end;
    }

    /*SECTION 1 RECHERCHE*/

    .search {
        margin-top: 5%;
        margin-left: 3%;
        margin-right: 3%;
        margin-bottom: 5%;
    }

    /*Formulaire*/
    .form-search {
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .map {
        width: 20px;
        padding: 17px;
        margin-right: -7px;
    }

    input[type="text"] {
        width: 60%;
        height: 44px;
    }

    .icon-button {
        height: 49px;
        background-color: #0065FC;
        border-radius: 10px;
        border: none;
        width: 17%;
        color: white;
        cursor: pointer;
        padding-top: 5px;
        margin-left: -11px;
    }

    .text-button {
        display: none;
    }

    /*filtres*/
    .label-filter {
        padding-bottom: 1rem;
    }

    .filters {
        display: flex;
        flex-direction: column;
        margin-left: 4%;
    }

    .filtre {
        margin-bottom: 1rem;
    }

    .contain-filter {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 80%;
    }

    .icon-filter {
        width: 40px;
        height: 40px;
        min-height: 40px;
        min-width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 0.5rem;
    }

    .inside-filter {
        display: flex;
        align-items: baseline;
        justify-content: space-around;
    }

    .text-filter {
        padding-right: 0.5rem;
        display: flex;
        align-items: center;
    }

    .result {
        display: flex;
        align-items: center;
    }

    .icon-result {
        width: 30px;
        height: 30px;
        min-width: 30px;
        max-height: 30px;
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* SECTION 2 LOGEMENTS*/

    #accommodation {
        display: flex;
        flex-direction: column-reverse;
        margin-left: 2%;
        margin-right: 2%;
    }

    .stars {
        padding-bottom: 0.5rem;
    }

    /*Aside*/
    .popular {
        background-color: #F2F2F2;
        border-radius: 25px;
        padding-bottom: 4%;
    }

    .popular-title {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding-right: 20px;
        padding-left: 20px;
    }

    .box-aside {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .aside {
        display: flex;
        flex-direction: column;
        height: 98%;
        min-width: 230px;
        max-width: 230px;
        margin: 0px;
    }

    .popular-img {
        width: 96%;
        height: 100%;
        margin: auto;
        margin-top: 0.3rem;
    }

    .aside img {
        border-radius: 25px 25px 0px 0px;
        height: 115px;
        width: 100%;
    }

    .contain-aside {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 8px;
        margin-top: -10px;
        height: 100%;
    }

    .text-aside h4 {
        margin-bottom: 2px;
    }
    
    /*hebergement*/
    .lodging {
        align-content: center;
        flex-wrap: wrap;
        height: 813px;
        padding: 1%;
    }

    .box-cards {
        height: 726px;
        flex-wrap: wrap;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }

    .cards {
        display: flex;
    }

    .grid {
        height: 227px;
        width: 246px;
        flex-direction: column;
    }

    .grid img {
        margin: 6px;
        height: 115px;
        width: 235px;
    }

    /* SECTION 3 ACTIVITES*/

    .contain-activity {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .title-activity {
        margin-left: 3%;
    }

    .cards-activity:nth-of-type(1) {
        order: 1;
    }

    .cards-activity:nth-of-type(2) {
        order: 2;
    }

    .cards-activity:nth-of-type(3) {
        order: 4;
    }

    .cards-activity:nth-of-type(4) {
        order: 3;
    }

    .cards-activity {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

    .img-big {
        height: 455px;
        width: 300px;
    }

    .img-small {
        height: 180px;
        width: 300px;
    }

    .text-activity {
        padding-left: 20px;
    }

    /* FOOTER */

    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    footer ul {
        padding-left: 0px;
    }
}