body {
    font-family: "Raleway", "Open sans", "Roboto", sans-serif;
    margin: 0px;
    background-color: white;
}

h1 {
    font-size: 1.4rem;
}

/*header*/

#logo a img {
    width: 150px;
    min-width: 100px;
    max-width: 150px;
    height: auto;
}

.menu {
    list-style-type: none;
}

.menu li a {
    text-decoration: none;
}

menu-link:visited {
    color: black;
}

.registration {
    color: #0065FC;
    font-weight: bold;
}

/* SECTION 1 CHAMPS DE RECHERCHE */

/*Formulaire*/
form {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}

.map {
    display: inline-block;
    background-color: #F2F2F2;
    height: 100%;
    border-radius: 10px 0px 0px 10px;
    padding: 10px 0 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="text"] {
    border-color: #F2F2F2;
    border-style: solid;
    border-left: none;
    border-right: none;
    font-size: 1.2rem;
    padding-left: 1rem;
}

.search p i {
    border: 1px solid #F2F2F2;
    border-radius: 20px;
}

/* Filtres */
.label-filter {
    font-weight: bold;
}

.icon-result {
    border: 3px solid #F2F2F2;
    border-radius: 25px;
    color: #0065FC;
}

.result p {
    margin-left: 1%;
    margin-top: 3%;
}

.icon-filter {
    background-color: #DEEBFF;
    color: #0065FC;
    border-radius: 25px;
    left: -5px;
}

.filter:hover,
.filter:hover .text-filter {
    background-color: #F2F2F2;
}

.filter:hover .icon-filter {
    background-color: #0065FC;
    color: white;
}

.filter {
    border: 2px solid #F2F2F2;
    border-radius: 25px;
    margin-bottom: 5%;
    margin-left: 1%;
    cursor: pointer;
}

.text-filter {
    cursor: pointer;
}

/* SECTION 2 LOGEMENTS*/

.cards {
    background-color: white;
    box-shadow: 8px 8px 15px #DCDCDC;
    border-radius: 25px;
}

.cards img {
    border-radius: 25px 25px 0px 0px;
    object-fit: cover; /*permet de garder les proportions de l'image*/
}

.content {
    margin-left: 3%;
    padding-left: 3%;
}

.text-grid h4,
p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.text-grid {
    margin-left: 1rem;
}

.stars {
    margin-left: 5%;
}

.fa-star {
    color: #0065FC;
}

.gray-stars {
    color: #F2F2F2;
}

a {
    text-decoration: none;
    color: black;
}

/*aside*/
.contain-aside {
    margin-right: 3%;
}

.aside {
    margin-bottom: 3%;
    height: 162px;
}

.aside img {
    object-fit: cover;
}

/* SECTION 3 ACTIVITES */

.contain-activity {
    margin: 3%;
    margin-top: 2%;
}

.cards-activity {
    margin-right: 1%;
    margin-left: 1%;
}

.big {
    box-shadow: 8px 8px 15px #DCDCDC;
    border-radius: 25px 25px 25px 25px;
}

.small {
    border-radius: 25px 25px 25px 25px;
    box-shadow: 8px 8px 15px #DCDCDC;
}

.img-big {
    border-radius: 25px 25px 0px 0px;
    object-fit: cover;
}

.img-small {
    border-radius: 25px 25px 0px 0px;
    object-fit: cover;
}

.small-bottom {
    margin-top: 11%;
}

/* FOOTER */

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1%;
    padding-top: 3%;
    background-color: #F2F2F2;
    line-height: 2.3rem;
}

footer ul {
    padding-left: 0px;
    list-style: none;
}