@media screen and (max-width: 767px) {
    
    /* HEADER */

    .site-header {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        margin: 3%;
    }

    #logo {
        margin: 5%;
        width: 49px;
    }

    #logo img {
        width: 142px;
        height: 69px;
    }

    .set-order {
        width: 100%;
        height: 100%;
        margin-left: 0px;
    }

    .set-order:nth-of-type(1) {
        order: 1;
    }

    .set-order:nth-of-type(2) {
        order: 3;
    }

    .set-order:nth-of-type(3) {
        order: 2;
    }

    .entete nav {
        width: auto;
    }

    .menu li {
        width: 49%;
        padding-bottom: 10px;
        padding-left: 30px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding: 0;
        height: 45px;
    }

    .menu {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-bottom: 20px;
        padding-left: 0px;
        height: 45px;
        border-bottom: 5px solid #F2F2F2;
    }

    .menu li:hover {
        padding-bottom: 20px;
        border-bottom: 5px solid #0065FC;
    }

    .menu li a:hover {
        color: #0065FC;
    }

    .menu li:active {
        padding-bottom: 20px;
        border-bottom: 5px solid #0065FC;
    }

    .menu li a:active {
        color: #0065FC;
    }

    .registration {
        width: 49%;
        padding-right: 32px;
        display: flex;
        justify-content: flex-end;
    }

    /*SECTION 1 RECHERCHE*/

    .search {
        margin-top: 5%;
        margin-left: 3%;
        margin-right: 3%;
        margin-bottom: 5%;
    }

    /*Formulaire*/
    .form-search {
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .map {
        width: 20px;
        padding: 17px;
        margin-right: -7px;
    }

    input[type="text"] {
        width: 60%;
        height: 44px;
    }

    .icon-button {
        height: 49px;
        background-color: #0065FC;
        border-radius: 10px;
        border: none;
        width: 17%;
        color: white;
        cursor: pointer;
        padding-top: 5px;
        margin-left: -11px;
    }

    .text-button {
        display: none;
    }

    /*Filtres*/
    .label-filter {
        padding-bottom: 1rem;
    }

    .filters {
        display: flex;
        flex-direction: column;
        margin-left: 4%;
    }

    .filtre {
        margin-bottom: 1rem;
    }

    .contain-filter {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 80%;
    }

    .icon-filter {
        width: 40px;
        height: 40px;
        min-height: 40px;
        min-width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 0.5rem;
    }

    .inside-filter {
        display: flex;
        align-items: baseline;
        justify-content: space-around;
    }

    .text-filter {
        padding-right: 0.5rem;
    }

    .result {
        display: flex;
        align-items: center;
    }

    .icon-result {
        width: 30px;
        height: 30px;
        min-width: 30px;
        max-height: 30px;
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* SECTION 2 LOGEMENTS*/

    #accommodation {
        display: flex;
        flex-direction: column-reverse;
    }

    .stars {
        padding-bottom: 0.5rem;
    }

    /*Aside*/
    .popular {
        background-color: #F2F2F2;
        padding-bottom: 4%;
    }

    .popular-title {
        display: flex;
        justify-content: space-around;
        align-items: baseline;
    }

    .box-aside {
        justify-content: space-around;
    }

    .aside {
        display: flex;
        margin: 3%;
        height: 98%;
    }

    .popular-img {
        height: 135px;
        max-width: 30%;
        min-width: 42%;
        border: 5px solid white;
        border-radius: 25px 0px 0px 25px;
    }

    .aside img {
        border-radius: 25px 0px 0px 25px;
        height: 100%;
        width: 100%;
    }

    .contain-aside {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 8px;
        margin-top: -10px;
    }

    .text-aside h4 {
        margin-bottom: 2px;
    }

    /*hebergement*/
    .lodging {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .box-cards {
        width: 80%;
    }

    .grid {
        margin-top: 4%;
        margin-bottom: 4%;
        width: 100%;
    }

    .grid-img {
        margin: auto;
        border-radius: 25px;
        border: 5px solid white;
        width: auto;
    }

    .box-cards img {
        max-height: 160px;
        min-height: 100px;
        width: 100%;
    }

    .more {
        margin-top: 8%;
    }

    /* SECTION 3 ACTIVITES*/

    #activity {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 8%;
    }

    .contain-activity {
        width: 80%;
    }

    .cards-activity {
        width: 100%;
    }

    .img-big,
    .img-small {
        max-height: 115px;
        min-height: 100px;
        width: 100%;
    }

    .contain-activity h4 {
        padding-bottom: 1rem;
        padding-left: 2rem;
    }

    /* FOOTER */

    footer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .footer-contain {
        margin-left: 12%;
    }
}